/*App*/

/* font-family: montserrat, sans-sarif; */

input, button {
  appearance: none;
  background: none;
  border: none;
  outline: none;
}

/* Navbar */

nav {
  border-radius: 4px;
  background: rgb(111, 31, 216);
  display: flex;
  min-height: 10vh;
  color: rgb(224, 195, 31);
  align-items: center;
  justify-content: space-around;
}

.navlinks {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
 
/* Home Page */

.images{
 width: 250px;
 max-height: 250px;
  position:relative;
}

/* Page Layout */

.whitespace{
  padding-top: 25px;
  padding-left: 200px;
  padding-right: 200px;
}

.infowhitespace{
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 50px;
}

.extend{
  padding: 50px;
}

.buffer{
  background-color: rgb(233, 233, 233);
  padding: 20px;
  border: rgb(230, 228, 228);
  border-radius: 4px;
}

.gradient{
  background-image: linear-gradient(to bottom right, rgb(224, 195, 31), rgb(111, 31, 216));
  display: block;
  position: relative;
  padding: 4px;
  border-radius: 4px;
  top: 50px;
}

.label {
  font-family: 'Lora', serif;
  font-size: x-large;
  color: rgb(111, 31, 216);
}

.title {
  font-family: 'Lora', serif;
  color: rgb(197, 153, 31);
  font-size: 30px;
}

.gold {
  color:rgb(197, 153, 31);
  font-size: larger;
}

.purple {
  color: rgb(111, 31, 216);
  font-size: larger;
}

/* Login Form */

form {
  display: block;
  position: relative;
}

.form-inner {
  position: relative;
  display: block;
  padding: 150px;
  z-index: 2;
}

form .form-inner h2{
  color: rgb(0, 0, 0);
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 30px;
}

form .form-inner .form-group{
  display: block;
  width: 300px;
  margin-bottom: 15px;
}

.form-inner .form-group label{
  display: block;
  color: rgb(0, 0, 0);
  font-size: 12px;
  margin-bottom: 5px;
  transition: 0.5s;
}

.form-inner .form-group:focus-within label{
  color: rgb(111, 31, 216);
}

form .form-inner .form-group input {
  display:  block;
  width: 100%;
  padding: 10px 15px;
  background-color: rgb(192, 192, 192);
  border-radius: 8px;
  transition: 0.5s;
}

form .form-inner .form-group input:focus {
  box-shadow: 0px 0px 3px black;
}

form .form-inner input[type="submit"] {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 8px;
  background-image: linear-gradient(to right, rgb(111, 31, 216),rgb(111, 31, 216), rgb(224, 195, 31));
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

form .form-inner input[type="submit"]:hover {
  background-position: 100% 0%;
}

.error {
    color: red;
}

/* Inventory Page */

.counters{
  min-height: 400px;
  display: flex;
  justify-content: space-around;
}

.amount{
  font-size: x-large;
}

/* Payment Info Page */

.sidebyside {
  display: flex;
  justify-content: space-around;
}

.samecolor {
  color:white
}

/* Payment History Page */

.ph {
  display: block;
  position: center;
  align-items: center;
}

.form-ph {
  position: relative;
  display: block;
  padding: 10px;
  z-index: 2;
}
