/*App*/

/* font-family: montserrat, sans-sarif; */

input, button {
  appearance: none;
  background: none;
  border: none;
  outline: none;
}

/* Navbar */

nav {
  border-radius: 4px;
  background: rgb(100, 117, 129);
  display: flex;
  min-height: 10vh;
  color: rgb(224, 195, 31);
  align-items: center;
  justify-content: space-around;
}

.navlinks {
  width: 50%;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.images{
width: 200px;
height: 200px;
  }

/* Page Layout */


.margins{
  margin-left: 200px;
  margin-right: 200px;
}

.extend {
  padding-top: 50px;
  margin-left: 400px;
  margin-right: 400px;
  line-height: 30px;
}

.buffer{
  background-color: rgb(230, 228, 228);
  border: rgb(230, 228, 228);
  border-radius: 4px;
}

.gradient{
  background-image: linear-gradient(to bottom right, rgb(224, 195, 31), rgb(111, 31, 216));
  display: block;
  position: relative;
  padding: 5px;
  border-radius: 4px;
  top: 50px;

}

.gradients{
  background-image: linear-gradient(to bottom right, rgb(224, 195, 31), rgb(111, 31, 216));
  min-height: 600px;
  text-align: center;
  font-size: 200px;
}

.green {
  color: white;
}

.label {
  font-family: 'Lato', sans-serif;
  font-size: x-large;
  color: rgb(111, 31, 216);

}

.title {
  font-family: 'Lato', sans-serif;
  color: rgb(235, 186, 26);
  font-size: 30px;
  text-align: center;
  text-decoration: underline;
}

.title1 {
  font-family: 'Lato', sans-serif;
  color: rgb(235, 186, 26);
  font-size: 30px;
  text-align: center;
}

.gold {
  color:rgb(235, 186, 26);
}

.purple {
  color: rgb(111, 31, 216);
}

/* Login Form */

.logsamecolor {
  color: rgb(230, 228, 228);
}

.logtitle {
  font-family: 'Lato', sans-serif;
  color: rgb(235, 186, 26);
  font-size: 40px;
  text-align: center;
}

.whitespace {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto
}

form {
  display: block;
  position: relative;
}

.form-inner {
  position: relative;
  display: block;
  padding: 150px;
  z-index: 2;
}

form .form-inner h2{
  color: rgb(0, 0, 0);
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 30px;
}

form .form-inner .form-group{
  display: block;
  width: 300px;
  margin-bottom: 15px;
}

.form-inner .form-group label{
  display: block;
  color: rgb(0, 0, 0);
  font-size: 12px;
  margin-bottom: 5px;
  transition: 0.5s;
}

.form-inner .form-group:focus-within label{
  color: rgb(111, 31, 216);
}

form .form-inner .form-group input {
  display:  block;
  width: 100%;
  padding: 10px 15px;
  background-color: rgb(192, 192, 192);
  border-radius: 8px;
  transition: 0.5s;
}

form .form-inner .form-group input:focus {
  box-shadow: 0px 0px 3px black;
}

form .form-inner input[type="submit"] {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 8px;
  background-image: linear-gradient(to right, rgb(111, 31, 216),rgb(111, 31, 216), rgb(224, 195, 31));
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

form .form-inner input[type="submit"]:hover {
  background-position: 100% 0%;
}

/* Inventory Page */

.inventory {
  text-align: center;
}

.padding {
  padding-top: 30px;
}

.redSign {
  color: white;
  background: #c81919;
  margin-left: 588px;
  margin-right: 588px;
  border-radius: 7px;
}

.orangeSign {
  color: white;
  background: #c86a1e;
  margin-left: 588px;
  margin-right: 588px;
  border-radius: 7px;
}

.yellowSign {
  color: white;
  background: #eeb521;
  margin-left: 588px;
  margin-right: 588px;
  border-radius: 7px;
}

.greenSign {
  color: white;
  background: #33770b;
  margin-left: 588px;
  margin-right: 588px;
  border-radius: 7px;
}

.blueSign {
  color: white;
  background: #15639b;
  margin-left: 588px;
  margin-right: 588px;
  border-radius: 7px;
}

.purpleSign {
  color: white;
  background: #4b2a85;
  margin-left: 588px;
  margin-right: 588px;
  border-radius: 7px;
}

/* Payment Info Page */

.sidebyside {
  display: flex;
  justify-content: space-around;
}

.samecolor {
  color: rgb(255, 255, 255)
}

.infowhitespace {
  padding-bottom: 100px;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto
}

.buton {
  right: 200px;
}

/* Payment History Page */

.ph {
  display: block;
  position: center;
  align-items: center;
}

.form-ph {
  position: relative;
  display: block;
  padding: 10px;
  z-index: 2;
}

.buffer2{
  background-color: rgb(216, 222, 222);
  padding: 20px;
  border: rgb(151, 153, 149);
  border-radius: 4px;
}

/* Price Adjustment Page */

.priceIn input[type="submit"] {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 8px;
  background-image: linear-gradient(to right, rgb(111, 31, 216),rgb(111, 31, 216), rgb(224, 195, 31));
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

.priceIn input[type="submit"]:hover {
  background-position: 100% 0;
}

/* Contact Us Page */

.social-container {
  justify-content: center;
padding: 20px 120px;
}
a.icon {
margin: 0 1rem;
  transition: transform 1s;
  display: inline-block;
}

a.icon:hover {
  transform: translateY(-4px);
}

a.fb {
  color: blue;
}

a.insta {
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 6px;
  background-image: linear-gradient(to top right, yellow, purple, mediumpurple);
  color: white;
}